{% extends 'main.html' %} {% block title %}<title>POSTS</title> {%endblock%}
{%block main_content %}

<div class="d-flex flex-column align-items-center">
  <h1 class="mb-3 text-start" style="width: 50%">ALL POSTS</h1>
  {% if all_posts %} {% for post in all_posts %}

  <div class="card my-card" style="margin: 3rem 0">
    <div class="card-body">
      <h2 class="card-title">{{post.title}}</h2>
      {% if post.subtitle != None %}
      <h4 class="card-title">{{post.subtitle}}</h4>
      {% endif %}

      <p class="card-text">{{post_description|safe}}</p>
      <p class="card-text">
        <small class="text-muted">Created at: {{post.created_at}}</small>
      </p>
    </div>
    {% if post.post_img%}
    <img src="{{post.post_img.url}}" class="card-img-bottom" alt="..." />
    {% endif %}
    <p class="card-title fs-6 mt-2 px-3">By: {{post.author.username}}</p>
    <a href="{% url 'post-detail' post.id %}" class="btn btn-post py-1"
      >Go to the post!</a
    >
  </div>
  {% endfor %} {% else %}
  <span style="color: red"> No post found</span>
  {% endif %} {% endblock %}
</div>
