{% extends 'main.html' %}{% block main_content %}
<div class="" style="width: 70%; margin: auto">
  <section>
    <h1 class="title-about">
      ¡Hola! <br />
      Mi nombre es Belen Romero y soy desarrolladora fullstack 😄
    </h1>

    <article>
      <p class="p-about">
        En este momento me encuentro culminando mi cursada de desarrollo backend
        con Python y Django el cual me permitio desarrollar este proyecto
        fullstack... ¡desde cero! ¡Te agradezco por estar aquí viendo mi
        trabajo! Siempre es bueno tener un feedback de nuestros trabajos 👏
      </p>
      <p class="p-about">
        Este proyecto es un Blog, el cual se puede navegar para leer los post de
        usuarios, pero para poder realizar un post personal, debes registrarte
        para ello! Cuanta con registro y login de usuarios, los cuales son
        autenticados por django.
      </p>
      <p class="p-about">
        Una vez que el usuario esta creado, podes ingresar y crear tus propios
        post con titulos, subtitulos, contenido e imagenes. Una vez hecho, el
        resto de usuarios registrados podran ver tu post y dejarte su
        comentario. Asimismo, tu tambien puedes comentar los post de otros y...
        no tengas problema! Si te arrepientes, podes borrar tus comentarios sin
        problema! 🤭
        <br />
        Tus post tambien podras eliminarlos y actualizarlos si lo necesitas.
      </p>

      <p class="p-about">
        Tambien cuentas con una seccion para editar tu perfil, sumar nombre y
        apellido y una imagen para tu avatar.
      </p>
      <p class="p-about">
        Mi camino en el mundo del desarrollo web comenzo en abril de 2021 con el
        curso de Desarollo web en Coderhouse, sin conocimientos previos. Comenzo
        como prueba y se convirtio en una meta para dedicarme a este trabajo
        apasionante!🙌
      </p>
      <p class="p-about">
        Desde ese momento, continue con JavaScript, React Js, React Native,
        Backend con Node Js y Python.
      </p>

      <p class="p-about">
        Fuera de mis cursadas dentro de Coderhouse, tambien complete las fases 1
        y 2 de Argentina programa, en la que desarrolle un portfolio con
        Angular, Java y SpringBoot. <br />
        Actualmente me encuentro cursando la tecnicatura en programacion en la
        Universidad Nacional Guillermo Brown y proxima a empezar una tecnicatura
        a distancia de desarrollo web en la Universidad Nacional de Entre Rios.
      </p>
    </article>

    <h3 class="title-about">¡Muchas gracias por haber pasado por aquí! 👋</h3>
  </section>
</div>

{% endblock %}
