<nav class="navbar static-top">
  <div class="container">
    <a class="navbar-brand color" href="">CoderBlog</a>
    <a class="navbar-brand color" href="{% url 'all-posts' %}">General</a>
    <a class="navbar-brand color" href="{% url 'post-form'%}">POST IT!</a>
    <a class="navbar-brand color" href="">Comentarios</a>

    <p class="navbar-brand color">Hola !</p>

    <a class="btn btn-primary" href="">Cerrar sesion</a>
    <a class="btn btn-primary" href="">Editar perfil</a>

    <a class="btn btn-primary" href="">Login</a>
  </div>
</nav>
